/** * @Author: 元实 * @Date: 2020-06-11 * @Description: Spreadsheet组件的表格行组件 */

<template>
  <tr>
    <Cell
      v-for="(cell, idx) in row"
      :ref="`cell${idx}`"
      :cell="cell"
      :key="`cell${idx}`"
      :rowIdx="rowIdx"
      :cellIdx="idx"
      :selected="cell.selected"
      @edit-mode="handleEditMode"
    ></Cell>
  </tr>
</template>

<script>
import Cell from '../Cell';

export default {
  components: {
    Cell,
  },

  props: {
    row: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
    colsQnty: {
      type: Number,
      required: true,
      default: 0,
    },
    rowIdx: {
      type: Number,
      required: true,
      default: 0,
    },

    selectedCell: {
      type: Object,
      required: false,
    },
  }, //[ 'row', 'colsQnty', 'rowIdx', 'selectedCell' ],

  data() {
    return {
      currIdx: 0, //单元格的索引
    };
  },

  watch: {
    selectedCell(cell) {
      this.clearSelection();

      if (cell.row !== -1 && cell.col !== -1) {
        if (cell.row === this.rowIdx) {
          this.row.splice(cell.col, 1, {
            ...this.row[cell.col],
            selected: true,
          });
        }
      }
    },

    validate(toValidate) {
      if (toValidate) {
        this.validateAllCells();
      }
    },
  },

  mounted() {},

  methods: {
    /**
     * 取消单元格的选择
     * @private
     */
    clearSelection() {
      this.row.forEach((cell) => {
        cell.selected = false;
        cell.editMode = false;
      });
    },

    /**
     * 发出改变可编辑模式的状态
     * @private
     */
    handleEditMode() {
      this.$emit('edit-mode');
    },

    /**
     * 验证此行中的有验证规则的所有单元格
     */
    validateAllCells() {
      let isValid = true;

      this.row.forEach((cell, idx) => {
        if (cell.validation) {
          if (!this.$refs[`cell${idx}`][0].validate()) {
            isValid = false;
          }
        }
      });
      return isValid;
    },

    /**
     * 清理输入的值
     */
    clearAllInput() {
      this.row.forEach((cell) => {
        if (cell.editable) {
          this.row.forEach((cell, idx) => {
            if (cell.validation) {
              this.$refs[`cell${idx}`][0].clear();
            }
          });
        }
      });
    },
  },
};
</script>

<style scoped></style>
