/** * @Author: 元实 * @Date: 2020-06-11 * @Description: Spreadsheet组件的表格单元格组件 */input
<template>
  <td
    v-if="!cell.hidden"
    ref="td"
    :colspan="cell.colSpan || 1"
    :rowspan="cell.rowSpan || 1"
    :style="style"
    :class="{ 'edit-mode': cell.editMode }"
    @click="toggleSelected"
    @dblclick="toggleEditMode"
  >
    <div
      v-show="cell.editable"
      class="cell"
      :style="{
        visibility: cell.editMode ? 'hidden' : 'visible',
        //width: width || 'auto'
      }"
    >
      {{ editableValue }}
    </div>
    <div v-show="!cell.editable" class="cell">{{ cell.value }}</div>
    <div v-show="cell.editable && cell.editMode" class="editable-cell">
      <input ref="input" :type="cell.type ? cell.type : 'text'" v-model="editableValue" @blur="cancelEditMode" />
      <!-- <input ref="input1" type="date" /> -->
    </div>
    <div v-show="selected && cell.editable" class="selected"></div>
    <div v-show="validFailed" class="valid-failed"></div>
  </td>
</template>

<script>
//import { parseRange } from '../utils.js';
import { validateDecimal, validatePositiveDecimal, validateInteger, validatePositiveInteger } from '../validation.js';
import events from '../../mixins/events.js';

export default {
  props: ['cell', 'selected', 'rowIdx', 'cellIdx'],

  mixins: [events],

  data() {
    return {
      isEditMode: false,
      isClicked: false,
      editableValue: this.cell.value,
      height: 0,
      width: 0,
      validFailed: false,
    };
  },

  computed: {
    style() {
      return Object.assign(
        {},
        {
          width: this.cell.width,
          height: this.cell.height,
        },
        this.cell.style
      );
    },
  },

  mounted() {
    if (this.$refs.td) {
      this.width = this.$refs.td.clientWidth + 'px';

      const vld = this.cell.validation;
      if (vld) {
        this.setValidationByEvent(vld);
      }
    }
  },

  watch: {
    'cell.editMode': {
      handler(value, oldValue) {
        if (value && !oldValue) {
          setTimeout(() => {
            this.$refs.input.focus();
            if (this.cell.initValue) {
              this.editableValue = this.cell.initValue;
              this.cell.initValue = null;
            }
          }, 100);
        }
        if (!value && oldValue) {
          this.updateValue();
        }
        this.isEditMode = value;
      },
    },
  },

  methods: {
    /**
     * 清理可编辑的值
     */
    clear() {
      this.editableValue = null;
      this.validFailed = false;
    },

    /**
     * 开关选中模式
     */
    toggleSelected() {
      if (this.cell.editable && !this.cell.editMode) {
        this.isClicked = !this.isClicked;
        this.broadcastEvent('set-selected', {
          rowIdx: this.rowIdx,
          colIdx: this.cellIdx,
        });
      }
    },

    /**
     * 开关编辑模式
     */
    toggleEditMode() {
      this.$emit('edit-mode');
    },

    cancelEditMode() {
      if (this.cell.editMode === true) {
        this.$emit('edit-mode');
      }
    },

    /**
     * 修改值的时候发出事件
     * @param {Object} cell 修改的单元格
     */
    updateValue() {
      const cell = this.cell;
      const row = cell.row;
      const rowSpan = cell.rowSpan;
      const col = cell.col;
      const colSpan = cell.colSpan;
      const type = cell.type;
      const value = this.editableValue;
      let changedData = { row, col, value };

      if (type) {
        changedData.type = type;
      }
      if (rowSpan) {
        changedData.rowSpan = rowSpan;
      }
      if (colSpan) {
        changedData.colSpan = colSpan;
      }
      if (cell.metaData) {
        changedData.metaData = cell.metaData;
      }
      this.broadcastEvent('change-value', changedData);
    },

    /**
     * 给输入框设置验证规则
     * @param {Array} vld 验证规则
     */
    setValidationByEvent(vld) {
      if (vld instanceof Array) {
        const input = this.$refs.input;

        vld.forEach((rule) => {
          if (rule.event) {
            input.addEventListener(rule.event, () => {
              this.validateCell(this.editableValue, rule);
            });
          }
        });
      }
    },

    /**
     * 验证输入的值
     * @param {string} value 输入的值
     * @param {Object} rule 验证规则
     */
    validateCell(value, rule) {
      try {
        if (value) {
          switch (rule.rule) {
            case 'decimal':
              if (!validateDecimal(value)) {
                throw new Error('Is not decimal');
              }
              break;

            case 'posdecimal':
              if (!validatePositiveDecimal(value)) {
                throw new Error('Is not positive decimal');
              }
              break;

            case 'integer':
              if (!validateInteger(value)) {
                throw new Error('Is not integer');
              }
              break;

            case 'posinteger':
              if (!validatePositiveInteger(value)) {
                throw new Error('Is not positive integer');
              }

              break;
          }

          if (rule.rule === 'decimal' || rule.rule === 'integer') {
            if (rule.min !== undefined && Number(value) < rule.min) {
              throw new Error('Is less then mininal value');
            }
            if (rule.max !== undefined && Number(value) > rule.max) {
              throw new Error('Is greater then mininal value');
            }
          }
        } else {
          throw new Error('Is empty');
        }
        this.setFailed(false);
      } catch (e) {
        this.setFailed(true, e);
      }
    },

    /**
     * 设置为验证失败或验证成功
     *
     * @param {boolean} isFailed 是否失败
     * @param {Object} error 错误对象
     */
    setFailed(isFailed) {
      this.validFailed = isFailed;
      this.$emit('validatiByEvent');
    },

    /**
     * 用所有的安正规则验证输入的值
     */

    validate() {
      const vld = this.cell.validation;

      if (vld && vld instanceof Array) {
        vld.forEach((rule) => {
          this.validateCell(this.editableValue, rule);
        });
      }

      return !this.validFailed;
    },
  },
};
</script>

<style lang="scss" scoped>
.cell {
  padding: 0 5px;
  word-break: keep-all;
}

td {
  position: relative;
  padding: 5px;
  border: solid 1px #ccc;

  &.edit-mode {
    padding: 5px;
  }

  .selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 2px #0fb3ff85;
  }

  div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .editable-cell {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    align-items: center;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #00b1ee;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.596);
    z-index: 100;

    input {
      width: calc(100% - 2px);
      padding: 0 5px;
      border: none;
      font-size: 16px;
      color: #2c3e50;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

.valid-failed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  box-sizing: border-box;
  border: solid 2px #f56c6c;
}
</style>
