<template>
  <div>
    <spreadsheet
      ref="spreads"
      :layout="layout"
      @change-value="changeValue"
    ></spreadsheet>
    <button @click="validate">validate</button>
  </div>
</template>

<script>
import Spreadsheet from '@/components/Spreadsheet';
import layout from '../../tests/layout';

export default {
  components: {
    Spreadsheet,
  },

  data() {
    return {
      layout,
    };
  },

  methods: {
    changeValue(value) {
      console.log('changed value', value);
    },

    validate() {
      console.log(this.$refs.spreads.validate);
      const res = this.$refs.spreads.validate();

      console.log('---', res);
    },
  },
};
</script>

<style scoped></style>
