/** * @Author: 元实 * @Date: 2020-06-11 * @Description: Spreadsheet组件的表格组件 */

<template>
  <table class="spread-table" :style="{ width: width || 'auto' }">
    <tbody>
      <Row
        v-for="(row, idx) in resultingLayout"
        :row="row"
        :ref="`row${idx}`"
        :key="`row${idx}`"
        :rowIdx="idx"
        :colsQnty="colsQnty"
        :selectedCell="cellPosition"
        :validate="validate"
        @set-selected="handleCellSelected"
        @edit-mode="toggleEditMode"
      ></Row>
    </tbody>
  </table>
</template>

<script>
import Row from '../Row';
//import { parseRange } from '../utils.js';

export default {
  components: {
    Row,
  },

  props: {
    layout: {
      type: Array,
      required: false,
      default() {
        return [];
      },
    },
    width: {
      type: String,
      required: false,
    },
  },

  data() {
    return {
      rowsQnty: 0, //行数
      colsQnty: 0, //列数
      prevRowNo: 0, //行的索引
      copiedLayout: [],
      sortedLayout: [], //缺席的行是用空行补充的
      resultingLayout: [], //缺席的行是用空行补充的
      currIdx: 0, //单元格的索引

      //单元格座位
      cellPosition: {
        row: -1, //行
        col: -1, //列
      },
      selectedColNo: 0, //

      withInputValues: [],
    };
  },

  created() {
    if (this.layout.length === 0) return;

    this.clear();
    this.processLayoutData();
    this.insertAbsentCells();
    this.getRowsQnty();
  },

  mounted() {
    window.removeEventListener('keydown', this.processKeydown);
    window.addEventListener('keydown', this.processKeydown);
  },

  unmounted() {
    window.removeEventListener('keydown', this.processKeydown);
  },

  watch: {
    layout: {
      handler() {
        if (this.layout.length === 0) return;

        this.clear();
        this.processLayoutData();
        this.insertAbsentCells();
        this.getRowsQnty();
      },

      deep: true,
    },
  },

  methods: {
    /**
     * 清理所有的数组
     */
    clear() {
      this.rowsQnty = 0; //行数
      this.colsQnty = 0; //列数
      this.prevRowNo = 0; //行的索引
      this.copiedLayout = [];
      this.sortedLayout = []; //缺席的行是用空行补充的
      this.resultingLayout = []; //缺席的行是用空行补充的
      this.currIdx = 0; //单元格的索引

      //单元格座位
      this.cellPosition = {
        row: -1, //行
        col: -1, //列
      };
      this.selectedColNo = 0; //
    },

    /**
     * 清理输入的值
     */
    clearInput() {
      this.resultingLayout.forEach((row, idx) => {
        this.$refs[`row${idx}`][0].clearAllInput();
      });
    },

    /**
     * 处理布局数据
     * @private
     */
    processLayoutData() {
      this.copiedLayout = JSON.parse(JSON.stringify(this.layout));
      this.sortRows();
      this.addMissingRows();
      this.processEachRow();
    },

    /**
     * 排序列表里的行
     * @private
     */
    sortRows() {
      this.copiedLayout.sort((rowOne, rowTwo) => {
        const rowOneNum = rowOne[0].row; //parseRange(rowOne[0].row).start;
        const rowTwoNum = rowTwo[0].row; //parseRange(rowTwo[0].row).start;

        return rowOneNum - rowTwoNum;
      });
    },

    /**
     * 补充缺少的行
     * @private
     */
    addMissingRows() {
      this.copiedLayout.forEach((row) => {
        let curRowNo = row[0].row; //parseRange(row[0].row).start;
        let delta = curRowNo - this.prevRowNo;

        if (delta > 1) {
          this.insertEmpryRows(delta);
        }
        this.prevRowNo = curRowNo;
        this.sortedLayout.push(row);
      });
    },

    /**
     * 加上空行
     * @param {number} rowQntyToInsert 要加上几行
     * @private
     */
    insertEmpryRows(rowQntyToInsert) {
      for (let i = 0; i < rowQntyToInsert - 1; i++) {
        this.sortedLayout.push([]);
      }
    },

    /**
     * 处理每一行的数据
     * @private
     */
    processEachRow() {
      this.sortedLayout.forEach((row) => {
        this.sortCols(row);
        this.splitSpannedRows(row);
        if (row.length) {
          this.getColsQnty(row);
        }
      });
    },

    /**
     * 排序每一行里的单元格
     * @param {Array} row 行
     * @private
     */
    sortCols(row) {
      row.sort((cellOne, cellTwo) => {
        const colOneNum = cellOne.col; //parseRange(cellOne.col).start;
        const colTwoNum = cellTwo.col; //parseRange(cellTwo.col).start;

        return colOneNum - colTwoNum;
      });
    },

    /**
     * 切开占几行的单元格
     * @private
     */
    splitSpannedRows(row) {
      row.forEach((cell) => {
        if (cell.splitted) return;

        //const parsedRowNum = parseRange(cell.row);
        const rowSpan = cell.rowSpan || 1;
        const startRow = cell.row; //parsedRowNum.start;
        const endRow = cell.row + rowSpan - 1; //parsedRowNum.end;

        if (startRow < endRow) {
          for (let i = startRow; i < endRow; i++) {
            this.insertSplittedCellIntoRow(cell, i);
          }
        }
      });
    },

    /**
     * 插入切开的单元格
     * @private
     */
    insertSplittedCellIntoRow(cell, idx) {
      const newCell = {
        //row: `${idx + 1}:${idx + 1}`,
        row: idx + 1,
        rowSpan: 1,
        col: cell.col,
        colSpan: 1,
        hidden: true,
        editable: cell.editable,
        splitted: true,
      };

      this.sortedLayout[idx].push(newCell);
    },

    /**
     * 获取列表的列数
     * @param {Array} row 列表的一行
     * @private
     */
    getColsQnty(row) {
      const length = row.length;
      const colSpan = row[length - 1].colSpan || 1;
      const maxColNum = row[length - 1].col + colSpan - 1; //parseRange(row[length - 1].col).end;

      if (maxColNum > this.colsQnty) {
        this.colsQnty = maxColNum;
      }
    },

    /**
     * 获取列表的行数
     * @private
     */
    getRowsQnty() {
      const length = this.resultingLayout.length;

      this.rowsQnty = this.resultingLayout[length - 1][0].row; //parseRange(this.resultingLayout[length - 1][0].row).start;
    },

    /**
     * 用空行补充列表
     * @private
     */
    setFullRowsLayout() {
      const presentRowsQnty = this.sortedRowsLayout.length;
      const rowsQntyNum = this.rowsQnty;

      if (presentRowsQnty < rowsQntyNum) {
        for (let i = 0; i < rowsQntyNum; i++) {
          if (!this.isRowPresent(i + 1)) {
            this.insertEmptyRow(i);
          }
        }
      }
    },

    /**
     * 布局数组是不是有这一行
     * @param {number} num 第几行
     * @returns {boolean} true - 有, false - 没有
     * @private
     */
    isRowPresent(num) {
      return (
        this.sortedRowsLayout.findIndex((row) => {
          const rowNum = row[0].row; //parseRange(row[0].row).start;

          if (rowNum === num) {
            return true;
          }

          return false;
        }) !== -1
      );
    },

    /**
     * 插入空行
     * @param {number} idx 布局数组里的索引，指需要插入空行的地方
     * @private
     */
    insertEmptyRow(idx) {
      this.sortedLayout.splice(idx, 0, []);
    },

    /**
     * 插入缺少的单元格
     * @private
     */
    insertAbsentCells() {
      const maxCols = this.colsQnty;

      this.sortedLayout.forEach((row, idx) => {
        const rowLength = row.length;

        this.resultingLayout.push([...row]);
        for (let i = 1; i <= maxCols; i++) {
          if (!rowLength || !this.isCellPresent(i, row)) {
            this.resultingLayout[idx].splice(i - 1, 0, {
              row: idx + 1,
              rowSpan: 1,
              col: i,
              colSpan: 1,
              selected: false,
            });
          }
        }
        this.currIdx = 0;
      });
    },

    /**
     * 这一行是不是有这第几列的单元格
     * @param {number} colNo 第几列
     * @return {boolean} true - 有, false - 没有
     * @private
     */
    isCellPresent(colNo, row) {
      //let parsedColNo = parseRange(row[this.currIdx].col);
      const colSpan = row[this.currIdx].colSpan || 1;
      let startColNo = row[this.currIdx].col; //parsedColNo.start;
      let endColNo = row[this.currIdx].col + colSpan - 1;

      if (startColNo <= colNo && colNo <= endColNo) {
        if (colNo === endColNo && this.currIdx + 1 !== row.length) {
          this.currIdx++;
        }
        return true;
      } else {
        return false;
      }
    },

    /**
     * 处理set-edit事件
     * @param {Object} cellPosition 单元格的座位(row行，col列)
     * @private
     */
    handleCellSelected(cellPosition) {
      this.cellPosition = {
        row: cellPosition.rowIdx,
        col: cellPosition.colIdx,
      };
      this.selectedColNo = cellPosition.colIdx;
    },

    /**
     * 移动选择框
     * @param {Object} evt 事件对象
     * @private
     */
    processKeydown(evt) {
      evt.stopPropagation();

      if (this.cellPosition.row === -1 && this.cellPosition.col === -1) {
        return false;
      }

      const row = this.cellPosition.row;
      const col = this.cellPosition.col;
      const cell = this.resultingLayout[row][col];

      if (cell.editMode) {
        if (evt.key === 'ArrowRight' || evt.key === 'ArrowLeft' || evt.key === 'ArrowDown' || evt.key === 'ArrowUp') {
          this.toggleEditMode();
        }
      }

      if (!cell.editMode) {
        switch (evt.key) {
          case 'ArrowRight':
            this.processKeydownInRow(1);
            break;
          case 'ArrowLeft':
            this.processKeydownInRow(2);
            break;
          case 'ArrowDown':
            this.processKeydownInColumn(1);
            break;
          case 'ArrowUp':
            this.processKeydownInColumn(2);
            break;
          default:
            if (/^[0-9a-zA-Z]$/i.test(evt.key)) {
              this.toggleEditMode();
              this.resultingLayout[row][col].initValue = evt.key;
            }
        }
      }

      if (evt.key === 'Enter') {
        this.toggleEditMode();
      }
    },

    /**
     * 横着移动选择框
     * @param {number} direction 1 - 往右，2 - 往左
     * @private
     */
    processKeydownInRow(direction) {
      if (direction === 1) {
        this.cellPosition = this.findNearestEditableCellRight();
      } else {
        this.cellPosition = this.findNearestEditableCellLeft();
      }
      this.selectedColNo = this.resultingLayout[this.cellPosition.row][this.cellPosition.col].col - 1;
      // parseRange(
      //   this.resultingLayout[this.cellPosition.row][this.cellPosition.col].col
      // ).start - 1;
    },

    /**
     * 找到下一个可编辑的单元格
     * @private
     */
    findNearestEditableCellRight() {
      const position = this.cellPosition;
      let col = this.cellPosition.col;
      let cellIdx = col;
      const length = this.resultingLayout[position.row].length;

      for (let i = col + 1; i < length; i++) {
        let cell = this.resultingLayout[position.row][i];

        if (cell.editable) {
          if (cell.hidden) {
            position.row = cell.row; //parseRange(cell.row).start;
          }

          cellIdx = i;
          break;
        }
      }

      return {
        col: cellIdx,
        row: position.row,
      };
    },

    /**
     * 找到上一个可编辑的单元格
     * @private
     */
    findNearestEditableCellLeft() {
      const position = this.cellPosition;
      let col = this.cellPosition.col;
      let cellIdx = col;

      for (let i = col - 1; i >= 0; i--) {
        let cell = this.resultingLayout[position.row][i];

        if (cell.hidden) {
          position.row = cell.row - 1; //parseRange(cell.row).start - 1;
        }

        if (cell.editable) {
          cellIdx = i;
          break;
        }
      }

      return {
        col: cellIdx,
        row: position.row,
      };
    },

    /**
     * 竖着移动选择框
     * @param {number} direction 1 - 往下，2 - 往上
     * @private
     */
    processKeydownInColumn(direction) {
      if (direction === 1) {
        this.cellPosition = this.findNearestEditableCellDown();
      } else {
        this.cellPosition = this.findNearestEditableCellUp();
      }
    },

    /**
     * 找到下一个可编辑的单元格
     * @private
     */
    findNearestEditableCellDown() {
      let row = this.cellPosition.row;
      let col = this.cellPosition.col;
      let rowIdx = row;
      const rowsQnty = this.rowsQnty;

      for (let i = row + 1; i < rowsQnty; i++) {
        col = this.getColNum(i, this.selectedColNo);
        let cell = this.resultingLayout[i][col];

        if (cell.hidden) {
          continue;
        }

        if (cell.editable) {
          this.curMovePrevRowNo = row;
          rowIdx = i;
          break;
        }
      }

      return {
        col,
        row: rowIdx,
      };
    },

    /**
     * 竖着移动的时候获取单元格的列号
     * @private
     */
    getColNum(rowNo, colNo) {
      const row = this.resultingLayout[rowNo];
      let pos = -1;

      pos = row.findIndex((cell) => {
        //const parsedColNo = parseRange(cell.col);
        const colSpan = cell.colSpan || 1;
        const start = cell.col; //parsedColNo.start;
        const end = cell.col + colSpan - 1; //parsedColNo.end;

        if (start <= colNo + 1 && colNo + 1 <= end && cell.editable) {
          return true;
        }
      });

      if (pos === -1) {
        pos = row.findIndex((cell) => {
          if (cell.editable) {
            return true;
          }
        });
      }

      return pos;
    },

    /**
     * 找到上一个可编辑的单元格
     * @private
     */
    findNearestEditableCellUp() {
      const pRow = this.cellPosition.row;
      const pCol = this.cellPosition.col;
      let col = 0;
      let rowIdx = 0;

      for (let i = pRow - 1; i >= 0; i--) {
        col = this.getColNum(i, this.selectedColNo);

        if (col === -1) {
          break;
        }

        let cell = this.resultingLayout[i][col];

        if (cell.hidden) {
          continue;
        }

        if (cell && cell.editable) {
          rowIdx = i;
          break;
        }
      }

      return {
        col: col !== -1 ? col : pCol,
        row: col !== -1 ? rowIdx : pRow,
      };
    },

    /**
     *
     */
    toggleEditMode() {
      const rowNo = this.cellPosition.row;
      const colNo = this.cellPosition.col;
      const row = this.resultingLayout[rowNo];
      const cell = row[colNo];

      if (!cell.editMode) {
        this.setEditMode(cell);
      } else {
        this.cancleEditMode(cell);
      }
    },

    /**
     *
     * @param {*} cell
     */
    setEditMode(cell) {
      cell.editMode = true;
    },

    /**
     *
     * @param {*} cell
     */
    cancleEditMode(cell) {
      cell.editMode = false;
    },

    processKeydownTest() {
      console.log('--------!!!');
    },

    /**
     * 验证输入的数据
     */
    validate() {
      let isValid = true;

      this.resultingLayout.forEach((row, idx) => {
        if (!this.$refs[`row${idx}`][0].validateAllCells()) {
          isValid = false;
        }
      });

      return isValid;
    },
  },
};
</script>

<style lang="scss" scoped>
.spread-table {
  border-collapse: collapse;
  table-layout: fixed;
}
</style>
